.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:white;
}

.insidediv{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 1rem;
   margin: 1rem;
   background-color: #E6F4EA ;
   box-shadow: 0px 10px 12px rgba(44, 120, 108, 0.15); /* Deep Teal with soft opacity */
   border-radius: 1rem;
   width: fit-content;
   height: fit-content;
   
}

.headigandpara{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    padding: 0.5rem;
   margin: 0.5rem;
 
}
.upperhead{
color: #2C786C;
font-size: 2rem;
}

.upperpara{
color: #4A4A4A;
font-weight: lighter;
font-size: 1.25rem;
}
.weightandheight{
     display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    padding: 0.5rem;
   margin: 0.5rem;
   
   gap: 2rem;
   height: fit-content;
   width: fit-content;
}
.weightandheightform{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;
    

    
}
#weightinput{
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 350px;
      background-color:  #E0F0EC;
}
#weightinput:focus{
    border: 1px solid ;
}
#weightinput:placeholder-shown{
    color: #4A4A4A;
    font-weight: light;
     border: 1px solid #4A4A4A ;

}
#heightinput{
      padding: 0.5rem;
    border-radius: 0.5rem;
    width: 350px;
    background-color:  #E0F0EC;
     border: 1px solid #A3CFC4;
      transition: border 0.3s ease;
}
#heightinput:focus{
    border: 1px solid ;
}
#heightinput:placeholder-shown{
    color: #4A4A4A;
    font-weight: light;
    border: 1px solid #4A4A4A ;
    
}
.weightandheadformhead{
    font-weight: bold;
    color: #4A4A4A;
    font-size: 1rem;
}

#calbtn{
    padding: 0.5rem;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2C786C;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: 1px solid #2C786C;
}
.BMIscale{
    text-align: start;
    
    width: 370px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid  #4A4A4A ;
}
.stathead{
    color: #4A4A4A;
    font-size: 0.875rem;
}
.statpara1{
    background-color:#FDE2E2 ;
    color:#EB5757 ;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid red;
}

.statpara2{
    background-color:#E6F4EA ;
    color:#2C786C ;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid green;
}

.statpara3{
    background-color:#FFF3CD ;
    color:#F2994A ;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #F2994A;
}

.statpara4{
    background-color:#FAD4D4 ;
    color:#C0392B ;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #C0392B;
}
#bmiresult{
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 12px rgba(44, 120, 108, 0.15);
    display: none;
}
#ValueofBMI{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #4A4A4A;
}
#condittion{
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;

}
#prescription{
    font-size:1rem ;
    color: #4A4A4A;
    font-weight: bold;
    max-width: 350px;

}
@media (max-width: 768px) {
  .insidediv {
    width: 90%;   /* take more width */
    padding: 1rem;
  }

  #weightinput,
  #heightinput {
    width: 280px; /* shrink input fields */
  }

  .BMIscale {
    width: 300px;
  }

  #prescription {
    max-width: 280px;
    font-size: 0.9rem;
  }
}

